@font-face {
    font-family: "geral";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Times New Roman', Times, serif;
}

$fonte-geral: "geral";
$fonte-secundaria: "secundaria";